<h2>Menu Hospitales</h2>

<ul>
	<li>
		<a asp-controller="Hospitales"
		   asp-action="Cliente">
			Api Hospitales Cliente
		</a>
	</li>
	<li>
		<a asp-controller="Hospitales"
		   asp-action="Servidor">
			Api Hospitales Servidor
		</a>
	</li>
</ul>
